<strong>Password recovery</strong>

<p>Password recovery for the e-mail ({{ email }}).</p>
<p>If you're not the author of this requisition. Just ignore it.</p>
<br />
<p>To continue, use the token below or click in the link</p>
<br />
<p>{{ token }}</p>
<a href="{{ link }}">Create new password</a>