<strong> Hello {{ username }}, how are you? </strong>
<br />
<p>The task "{{ title }}" was designated for you</p>
<br />
<br />
@if(hasAttachment)
    <p>You can check details in attachment.</p>
@endif